<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="body">
  <div class="container">
    <p id="notice"></p>
    <h2>User info</h2>
    <%= form_for @user do |f| %>
      <div class="col-lg-6" style="background-color: white;">
      <p>
        <%=f.label :name , "ユーザ名"%>
        <%= f.text_field :name %>
      </p>

      <p>
        <%=f.label :email %>
        <%= f.text_field :email %>
      </p>

      <p>
        <%=f.label :introduction %>
        <%= f.text_field :introduction %>
      </p>

      </div>

      <div class="col-lg-6" style="background-color: white;">
      <p>
        <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %>
        <%=f.label :profile_image %>
        <%= f.attachment_field :profile_image %>
      </p>

      <p>
        <%= f.submit %>
      </p>
    <% end %>
      </div>
  </div>
</div>
