<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<%= form_for @user do |f| %>
<div class="col-lg-6" style="background-color: pink;">

    <p>
   <%=f.label :username , "ユーザ名"%>
   <%= f.text_field :username %>
    </p>


    <p>
    <%=f.label :email %>
    <%= f.text_field :email %>
    </p>


    <p>
    <%=f.label :introduction %>
    <%= f.text_field :introduction %>
    </p>

</div>

<div class="col-lg-6" style="background-color: red;">
  <p>
  <%=f.label :profile_image %>
  <%= f.attachment_field :profile_image %>
  </p>

  <p>
  <%= f.submit %>
  </p>

<% end %>
</div>
<%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %>