 <%#= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %>
<%#= @user.username %>
<%#= @user.introduction %>
<%# if @user.id == current_user.id %>
<%#= @user.email %>
<%#= link_to "編集", edit_user_path(@user)%>
<%# end %>

<%#= form_for @book do |f| %>
<%#=f.label :title %>
<%#=f.text_field :title %>
<%#=f.label :body %>
<%#=f.text_area :body %>
<%#=f.submit %>


<div class="body">
  <div class="container">
<!--   <p id="notice">Welcome! You have signed up successfully.</p> -->
    <div class="row">
      <div class="col-xs-3">
        <h2>User info</h2>
        <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %>
        <table class="table">
          <tbody>
            <tr>
      	    <th>name</th>
      	    <th><%= @user.username %></th>
            </tr>
            <tr>
      	    <th>introduction</th>
      	    <th><%= @user.introduction %></th>
            </tr>

            <tr>
            	<% if @user.id == current_user.id %>
      	      <th>email</th>
      	      <th><%= @user.email %></th>
      	    <% end %>
            </tr>
          </tbody>
        </table>

        <div class="row">
        <%= link_to "編集", edit_user_path(@user) , class= "col-xs-12 btn btn-default glyphicon glyphicon-wrench "%>
        </div>

        <h2>New book</h2>
        <%= form_for @book do |f| %>
          <div class="field row">
            <label for="book_title">Title</label>
            <%=f.text_field :title %>
          </div>

          <div class="field row">
            <label for="book_opinion">Opinion</label>
            <t class="col-xs-12 " ><%= f.text_area :body%></t>
          </div>
          <div class="actions row">
            <%#= f.submit :class=> "btn btn-primary col-xs-12" %>
            <%= f.submit class: "btn btn-primary col-xs-12" %>
          </div>
        <% end %>
      </div>

      <div class="col-xs-9">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>image</th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>
          <tbody>
            <% @user.books.each do |book|%>
             <%=link_to book_path(book) do %>
              <tr>
                <td><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %></td>

                  <td><%= book.title %></td>
                
                <td><%= book.body%></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% @user.books.each do |book|%>
  <%= book.title %>
  <%= book.body%>
  <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg" %>
  <% if @user.id == current_user.id %>
    <%=link_to "詳細" , book_path(book)%>
    <%=link_to "編集", edit_book_path(book)%>
    <%=link_to "削除",book_path(book) , method: :delete , data: {confirm:"削除しますか"} %>
  <% end %>
<% end %>
