<% if @book.errors.any? %>
  <div id="error_explanation">
  <h2>
    <%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:
  </h2>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<%end%>


<div class="body">
  <div class="container">
    <p id="notice"></p>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
	      <h1>Editing Book</h1>
        <%=  form_for @book do |f| %>
          <div class="field row">
          <label for="book_title">Title</label>
          <div class="col-xs-12 book_title"><%= f.text_field :title%>
          </div>

          <div class="field row">
            <label for="book_opinion">Opinion</label>
          <div class="col-xs-12 book_body" >
            <%= f.text_field :body %></div>
          </div>
          <div class="actions row">
            <div class="btn btn-primary col-xs-12" data-disable-with="Update Book">
              <%= f.submit %>
            </div>
          </div>
	        <li><%= link_to "Show", book_path %></li> |
	        <li><%= link_to "Back", books_path %></li>
        </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
<% end %>


<!--
<h1>Books#edit</h1>
<p>Find me in app/views/books/edit.html.erb</p> -->
<%#=  form_for @book do |f| %>
<%#= f.label :title%>
<%#= f.text_field :title%>
<%#= f.label :body %>
<%#= f.text_field :body %>
<%#= f.submit %>
<%# end %>
