<div class="container" style="background-color: ;">
  <div class="col-lg-6" style="background-color: ;">

    <%= form_for @books do |f| %>
      <%=f.label :title %>
      <%=f.text_field :title %>

      <p><%=f.label :body %>
      <%=f.text_area :body %></p>

      <%=f.submit %>
    <% end %>
  </div>



<div class="col-lg-6" style="background-color:;">
  <%=@book.title%>
  <div><%= @book.body %></div>
<%if @book.user.id == current_user.id%>
 <%= link_to "編集" , edit_book_path(@book)%>
<% end %>
<p>作者</P>
  <%= @book.user.username %>s
  <%= @book.user.introduction %>
  <%= link_to user_path(@book.user_id) do %>
    <%= @book.user.username %>さんのページへ
  <% end %>
</div>
</div>
